table {
    border-bottom: 1px solid #0D5E68;
    border-collapse: collapse;
    padding: 5px;
    table-layout: auto;
    font: 14px Arial, sans-serif;
}
th {
    background-color: #0D5E68;
    color: white;
    font-weight: bold;
    text-align: center;
    vertical-align: bottom;
    font: 14px Arial, sans-serif;
    padding: 5px;
}
td {
    border-bottom: 1px solid #0D5E68;
    background-color: #F5F6F6;
    color: #333333;
    font: 14px Arial, sans-serif;
    padding: 5px;
}
button {
    margin-top: 5px;
    padding: 5px 10px;
    font: 14px Arial, sans-serif;
    cursor: pointer;
    color: #333333;
    background-color: #F5F6F6;
    border: none;
    border-radius: 3px;
}